body{
    text-align: center;
}
.video{
    width:100%;
    height:500px;
    border:none;
}

.menuTopBar{
    margin:15px !important;
    background: #101010;
}
.anchor{
    color: white;
}
.my_nav_bar{
    text-align: center;
}





